body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

header {
  height: 90px;
  background-color: #21222A;
  padding: 30px 25px;
}

nav {
  display: flex;
  align-items: center; /** This aligns items to the center and will stop images from stretching to full height, making the width look squished */
  justify-content: space-between;
  height:100%;

  span {
    font-size: 1.4rem;
    font-weight: 800;
    margin-left: 5px;
    color: #61DAFB;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.react-logo {
  width: 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav-list li {
  font-size: 1.2rem;
  margin-left: 10px
}
